/* Tailwind Styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

.form-label {
  @apply block mb-2 text-base font-medium text-gray-900 dark:text-gray-300;
}
.form-label-invalid {
  @apply block mb-2 text-base font-medium text-red-900 dark:text-red-300;
}
.form-label-required::after {
  content: '*';
  color: red;
  padding-left: 0.25rem;
}
.form-control-has-addon {
  @apply rounded-none rounded-r-lg !important;
}
.form-control, .ng-autocomplete > .autocomplete-container > .input-container > input {
  @apply w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
}
.form-control-invalid, .ng-autocomplete.invalid > .autocomplete-container > .input-container > input{
  @apply bg-red-50 border border-red-500 text-red-900 placeholder-red-700 text-sm rounded-lg focus:ring-red-500 focus:border-red-500 block w-full p-2.5 dark:bg-red-100 dark:border-red-400;
}
.form-checkbox {
  @apply w-4 h-4 text-blue-500 bg-gray-100 rounded border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600;
}
.form-checkbox-label {
  @apply ml-2 text-sm font-medium text-gray-900 dark:text-gray-300;
}
.form-control-addon {
  @apply inline-flex items-center px-3 text-sm text-gray-900 bg-gray-200 rounded-l-md border border-r-0 border-gray-300 dark:bg-gray-600 dark:text-gray-400 dark:border-gray-600;
}
.autocomplete-container {
  box-shadow: none !important;
}
.ng-autocomplete > .autocomplete-container > .input-container > input[role="combobox"] {
  border-style: solid;
}


.btn {
  @apply focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5;
}
.btn-secondary {
  @apply text-gray-500 bg-white hover:bg-gray-100 border border-gray-200 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600;
}
.btn-primary {
  @apply text-white bg-blue-500 hover:bg-blue-700 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800;
}

.overflow-guard, .monaco-editor {
  border-radius: 0.5rem;
}

.pill-wrapper {
  @apply text-base font-medium text-center text-white bg-blue-500 rounded-lg focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:focus:ring-blue-800;
}

/** spinner - loading.io/css */
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #000;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
